:root {
  --first-blue-dark: #24303B;
  --first-blue-black: #1C2B39;
  --second-jade: #00AACC;
  --gray-light: #F2F2F2;
  --gray-dark: #333B41;
}

/*Paddings*/
/*paddings 1 */  
.pt-1 {
  padding-top: 1px !important;
}

.pr-1 {
  padding-right: 1px !important;
}

.pb-1 {
  padding-bottom: 1px !important;
}

.pl-1 {
  padding-left: 1px !important;
}

/*paddings 2 */  
.pt-2 {
  padding-top: 2px !important;
}

.pr-2 {
  padding-right: 2px !important;
}

.pb-2 {
  padding-bottom: 2px !important;
}

.pl-2 {
  padding-left: 2px !important;
}

/*paddings 3 */  
.pt-3 {
  padding-top: 3px !important;
}

.pr-3 {
  padding-right: 3px !important;
}

.pb-3 {
  padding-bottom: 3px !important;
}

.pl-3 {
  padding-left: 3px !important;
}

/*paddings 4 */  
.pt-4 {
  padding-top: 4px !important;
}

.pr-4 {
  padding-right: 4px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pl-4 {
  padding-left: 4px !important;
}

/*paddings 5 */  
.pt-5 {
  padding-top: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

/*paddings 6 */  
.pt-6 {
  padding-top: 6px !important;
}

.pr-6 {
  padding-right: 6px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}

.pl-6 {
  padding-left: 6px !important;
}

/*paddings 7 */  
.pt-7 {
  padding-top: 7px !important;
}

.pr-7 {
  padding-right: 7px !important;
}

.pb-7 {
  padding-bottom: 7px !important;
}

.pl-7 {
  padding-left: 7px !important;
}

/*paddings 8 */  
.pt-8 {
  padding-top: 8px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pl-8 {
  padding-left: 8px !important;
}

/*paddings 9 */  
.pt-9 {
  padding-top: 9px !important;
}

.pr-9 {
  padding-right: 9px !important;
}

.pb-9 {
  padding-bottom: 9px !important;
}

.pl-9 {
  padding-left: 9px !important;
}

/*paddings 10 */  
.pt-10 {
  padding-top: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

/*paddings 11 */  
.pt-11 {
  padding-top: 11px !important;
}

.pr-11 {
  padding-right: 11px !important;
}

.pb-11 {
  padding-bottom: 11px !important;
}

.pl-11 {
  padding-left: 11px !important;
}

/*paddings 12 */  
.pt-12 {
  padding-top: 12px !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pl-12 {
  padding-left: 12px !important;
}

/*paddings 13 */  
.pt-13 {
  padding-top: 13px !important;
}

.pr-13 {
  padding-right: 13px !important;
}

.pb-13 {
  padding-bottom: 13px !important;
}

.pl-13 {
  padding-left: 13px !important;
}

/*paddings 14 */  
.pt-14 {
  padding-top: 14px !important;
}

.pr-14 {
  padding-right: 14px !important;
}

.pb-14 {
  padding-bottom: 14px !important;
}

.pl-14 {
  padding-left: 14px !important;
}

/*paddings 15 */  
.pt-15 {
  padding-top: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

/*paddings 16 */  
.pt-16 {
  padding-top: 16px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

/*paddings 17 */  
.pt-17 {
  padding-top: 17px !important;
}

.pr-17 {
  padding-right: 17px !important;
}

.pb-17 {
  padding-bottom: 17px !important;
}

.pl-17 {
  padding-left: 17px !important;
}

/*paddings 18 */  
.pt-18 {
  padding-top: 18px !important;
}

.pr-18 {
  padding-right: 18px !important;
}

.pb-18 {
  padding-bottom: 18px !important;
}

.pl-18 {
  padding-left: 18px !important;
}

/*paddings 19 */  
.pt-19 {
  padding-top: 19px !important;
}

.pr-19 {
  padding-right: 19px !important;
}

.pb-19 {
  padding-bottom: 19px !important;
}

.pl-19 {
  padding-left: 19px !important;
}

/*paddings 20 */  
.pt-20 {
  padding-top: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

/*paddings 21 */  
.pt-21 {
  padding-top: 21px !important;
}

.pr-21 {
  padding-right: 21px !important;
}

.pb-21 {
  padding-bottom: 21px !important;
}

.pl-21 {
  padding-left: 21px !important;
}

/*paddings 22 */  
.pt-22 {
  padding-top: 22px !important;
}

.pr-22 {
  padding-right: 22px !important;
}

.pb-22 {
  padding-bottom: 22px !important;
}

.pl-22 {
  padding-left: 22px !important;
}

/*paddings 23 */  
.pt-23 {
  padding-top: 23px !important;
}

.pr-23 {
  padding-right: 23px !important;
}

.pb-23 {
  padding-bottom: 23px !important;
}

.pl-23 {
  padding-left: 23px !important;
}

/*paddings 24 */  
.pt-24 {
  padding-top: 24px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

/*paddings 25 */  
.pt-25 {
  padding-top: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

/*paddings 26 */  
.pt-26 {
  padding-top: 26px !important;
}

.pr-26 {
  padding-right: 26px !important;
}

.pb-26 {
  padding-bottom: 26px !important;
}

.pl-26 {
  padding-left: 26px !important;
}

/*paddings 27 */  
.pt-27 {
  padding-top: 27px !important;
}

.pr-27 {
  padding-right: 27px !important;
}

.pb-27 {
  padding-bottom: 27px !important;
}

.pl-27 {
  padding-left: 27px !important;
}

/*paddings 28 */  
.pt-28 {
  padding-top: 28px !important;
}

.pr-28 {
  padding-right: 28px !important;
}

.pb-28 {
  padding-bottom: 28px !important;
}

.pl-28 {
  padding-left: 28px !important;
}

/*paddings 29 */  
.pt-29 {
  padding-top: 29px !important;
}

.pr-29 {
  padding-right: 29px !important;
}

.pb-29 {
  padding-bottom: 29px !important;
}

.pl-29 {
  padding-left: 29px !important;
}

/*paddings 30 */  
.pt-30 {
  padding-top: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

/*Margins*/
/*margins 1 */
.mt-1 {
  margin-top: 1px !important;
}

.mr-1 {
  margin-right: 1px !important;
}

.mb-1 {
  margin-bottom: 1px !important;
}

.ml-1 {
  margin-left: 1px !important;
}

/*margins 2 */
.mt-2 {
  margin-top: 2px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.ml-2 {
  margin-left: 2px !important;
}

/*margins 3 */
.mt-3 {
  margin-top: 3px !important;
}

.mr-3 {
  margin-right: 3px !important;
}

.mb-3 {
  margin-bottom: 3px !important;
}

.ml-3 {
  margin-left: 3px !important;
}

/*margins 4 */
.mt-4 {
  margin-top: 4px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

/*margins 5 */
.mt-5 {
  margin-top: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

/*margins 6 */
.mt-6 {
  margin-top: 6px !important;
}

.mr-6 {
  margin-right: 6px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.ml-6 {
  margin-left: 6px !important;
}

/*margins 7 */
.mt-7 {
  margin-top: 7px !important;
}

.mr-7 {
  margin-right: 7px !important;
}

.mb-7 {
  margin-bottom: 7px !important;
}

.ml-7 {
  margin-left: 7px !important;
}

/*margins 8 */
.mt-8 {
  margin-top: 8px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

/*margins 9 */
.mt-9 {
  margin-top: 9px !important;
}

.mr-9 {
  margin-right: 9px !important;
}

.mb-9 {
  margin-bottom: 9px !important;
}

.ml-9 {
  margin-left: 9px !important;
}

/*margins 10 */
.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

/*margins 11 */
.mt-11 {
  margin-top: 11px !important;
}

.mr-11 {
  margin-right: 11px !important;
}

.mb-11 {
  margin-bottom: 11px !important;
}

.ml-11 {
  margin-left: 11px !important;
}

/*margins 12 */
.mt-12 {
  margin-top: 12px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

/*margins 13 */
.mt-13 {
  margin-top: 13px !important;
}

.mr-13 {
  margin-right: 13px !important;
}

.mb-13 {
  margin-bottom: 13px !important;
}

.ml-13 {
  margin-left: 13px !important;
}

/*margins 14 */
.mt-14 {
  margin-top: 14px !important;
}

.mr-14 {
  margin-right: 14px !important;
}

.mb-14 {
  margin-bottom: 14px !important;
}

.ml-14 {
  margin-left: 14px !important;
}

/*margins 15 */
.mt-15 {
  margin-top: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

/*margins 16 */
.mt-16 {
  margin-top: 16px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

/*margins 17 */
.mt-17 {
  margin-top: 17px !important;
}

.mr-17 {
  margin-right: 17px !important;
}

.mb-17 {
  margin-bottom: 17px !important;
}

.ml-17 {
  margin-left: 17px !important;
}

/*margins 18 */
.mt-18 {
  margin-top: 18px !important;
}

.mr-18 {
  margin-right: 18px !important;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.ml-18 {
  margin-left: 18px !important;
}

/*margins 19 */
.mt-19 {
  margin-top: 19px !important;
}

.mr-19 {
  margin-right: 19px !important;
}

.mb-19 {
  margin-bottom: 19px !important;
}

.ml-19 {
  margin-left: 19px !important;
}

/*margins 20 */
.mt-20 {
  margin-top: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

/*margins 21 */
.mt-21 {
  margin-top: 21px !important;
}

.mr-21 {
  margin-right: 21px !important;
}

.mb-21 {
  margin-bottom: 21px !important;
}

.ml-21 {
  margin-left: 21px !important;
}

/*margins 22 */
.mt-22 {
  margin-top: 22px !important;
}

.mr-22 {
  margin-right: 22px !important;
}

.mb-22 {
  margin-bottom: 22px !important;
}

.ml-22 {
  margin-left: 22px !important;
}

/*margins 23 */
.mt-23 {
  margin-top: 23px !important;
}

.mr-23 {
  margin-right: 23px !important;
}

.mb-23 {
  margin-bottom: 23px !important;
}

.ml-23 {
  margin-left: 23px !important;
}

/*margins 24 */
.mt-24 {
  margin-top: 24px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

/*margins 25 */
.mt-25 {
  margin-top: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

/*margins 26 */
.mt-26 {
  margin-top: 26px !important;
}

.mr-26 {
  margin-right: 26px !important;
}

.mb-26 {
  margin-bottom: 26px !important;
}

.ml-26 {
  margin-left: 26px !important;
}

/*margins 27 */
.mt-27 {
  margin-top: 27px !important;
}

.mr-27 {
  margin-right: 27px !important;
}

.mb-27 {
  margin-bottom: 27px !important;
}

.ml-27 {
  margin-left: 27px !important;
}

/*margins 28 */
.mt-28 {
  margin-top: 28px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.ml-28 {
  margin-left: 28px !important;
}

/*margins 29 */
.mt-29 {
  margin-top: 29px !important;
}

.mr-29 {
  margin-right: 29px !important;
}

.mb-29 {
  margin-bottom: 29px !important;
}

.ml-29 {
  margin-left: 29px !important;
}

/*margins 30 */
.mt-30 {
  margin-top: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

@media all and (min-width: 1px) {
  .logo {
    min-width: 120px;
    width: 19%;
  }

  nav {
    width: 50%;
  }
  nav ul li {
    position: relative;
    text-align: right;
  }
  nav ul li a {
    font-size: 1.5rem;
    color: #333B41;
    width: 100%;
    display: block;
    margin: 0;
  }
  nav ul li:last-child a {
    border-right: 0;
    padding-right: 0;
  }

  header {
    position: relative;
    z-index: 2;
  }

  section {
    overflow-x: hidden;
  }

  .encabezado {
    padding: 25px 0;
    position: relative;
    margin-top: -20px;
    margin-bottom: 20px;
    z-index: 1;
  }
  .encabezado h1 {
    text-align: center;
    background-color: rgba(51, 59, 65, 0.95);
    padding: 30px 10px;
    margin: 0;
    font-size: 2.2rem;
    color: #ffffff;
    font-family: "Akrobat-ExtraBold";
  }
  .encabezado h1 span {
    color: #00AACC;
  }

  .caracteristicas {
    font-family: "Akrobat-ExtraBold";
    margin: 20px 0;
  }
  .caracteristicas li {
    margin: 5px 0;
    width: 100%;
  }
  .caracteristicas li img {
    width: 20%;
    margin: 0;
  }
  .caracteristicas li span {
    width: 75%;
  }

  .linkFilter {
    border: 2px solid #00AACC;
    padding: 10px 25px;
    margin: 10px 0;
    color: #333B41;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .linkFilter:hover {
    content: "";
    color: #ffffff;
    background-color: #00AACC;
  }

  .manPhone {
    position: relative;
    height: 90vh;
    width: 100%;
    margin: 40px 0;
  }

  .espacios {
    background-color: #24303B;
    color: #ffffff;
    padding: 25px 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.9rem;
  }
  .espacios img {
    width: 100%;
    margin: 10px 0;
  }

  .titlePlano {
    text-align: center;
    display: block;
    margin: 20px auto 20px;
    width: 60%;
    text-align: center;
    border: 2px solid #00AACC;
    color: #00AACC;
    padding: 10px 0;
    font-weight: 700;
  }

  .titleUbicacion {
    font-family: "Akrobat-ExtraBold";
    font-size: 2.8rem;
  }

  .ubicacion p {
    margin-bottom: 15px;
  }

  .mapaGoogle {
    height: 60vh;
    margin: 20px 0;
  }

  .wrappContacto {
    background-color: #24303B;
    color: #ffffff;
    position: relative;
    padding: 25px 0;
    width: 100%;
    margin: 15px 0;
    overflow: hidden;
  }
  .wrappContacto a {
    color: #ffffff;
  }

  .contacto {
    position: relative;
    border: 1px solid #ffffff;
    padding: 20px 30px;
    margin: 20px 0;
  }
  .contacto label {
    color: #ffffff;
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .contacto label input,
.contacto label textarea {
    padding: 7px;
    width: 100%;
    margin-top: 5px;
  }
  .contacto::before {
    content: "";
    background-color: #24303B;
    position: absolute;
    top: -2px;
    right: 10%;
    width: 100px;
    height: 4px;
  }
  .contacto::after {
    content: "";
    background-color: #24303B;
    position: absolute;
    bottom: -2px;
    right: 10%;
    width: 100px;
    height: 4px;
  }

  .tituloContacto {
    font-family: "Akrobat-ExtraBold";
    font-weight: 100;
    font-size: 2.8rem;
  }

  .correo {
    color: #ffffff;
    font-size: 1.6rem;
  }

  .proyectos {
    margin: 20px 0;
    position: relative;
  }
  .proyectos .itemProyect {
    width: 49%;
  }
  .proyectos .itemProyect:last-child {
    width: 100%;
  }
  .proyectos h2 {
    font-family: "Akrobat-ExtraBold";
    color: #24303B;
    font-size: 2.1rem;
  }

  footer {
    background-color: #24303B;
    padding: 15px 0;
    color: #ffffff;
  }
  footer p {
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }

  .lista {
    width: 100%;
    margin: 1vw 0 0;
  }
  .lista li {
    position: relative;
    padding-left: 15px;
    margin: 10px 0;
    font-weight: 700;
  }
  .lista li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #00AACC;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 0;
    margin: 0;
  }

  .slick-slide {
    cursor: pointer;
    height: 28vh;
    overflow: hidden;
    display: flex !important;
  }
  .slick-slide img {
    margin: auto;
  }

  .itemDepa {
    width: 50%;
    margin: 1vw 0;
  }
  .itemDepa img {
    width: 20%;
    display: block;
    margin: 0;
  }
  .itemDepa p {
    display: block;
    width: 75%;
    font-family: "Akrobat-ExtraBold";
  }

  .overflow {
    background-color: rgba(28, 43, 57, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: all ease-in-out 0.3s;
  }

  .wrappModal {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all ease-in-out 0.3s;
  }
  .wrappModal img {
    width: 100%;
  }
  .wrappModal p {
    width: 100%;
    font-family: "Akrobat-ExtraBold";
    padding: 10px 0;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 1.8rem;
  }

  .closeModal svg {
    width: 1.5vw;
    min-width: 15px;
  }
  .closeModal svg path {
    transition: all ease-in-out 0.3s;
    color: #ffffff;
  }
  .closeModal:hover svg path {
    transition: all ease-in-out 0.3s;
    color: #00AACC;
  }

  .showModalWrapp {
    opacity: 1;
    z-index: 999;
    transition: all ease-in-out 0.3s;
  }

  .showModal {
    opacity: 1;
    z-index: 1000;
    transition: all ease-in-out 0.3s;
  }

  .slick-next,
.slick-prev {
    transition: all ease-in-out 0.3s;
    opacity: 1;
  }
  .slick-next:hover,
.slick-prev:hover {
    opacity: 0.5;
  }
  .slick-next::before,
.slick-prev::before {
    content: "";
    background-size: 100%;
    transition: all ease-in-out 0.3s;
    background-repeat: no-repeat;
    background-image: url("../images/arrow-next.svg");
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
  }

  .slick-prev::before {
    background-image: url("../images/arrow-prev.svg");
  }

  .slick-prev.slick-disabled,
.slick-next.slick-disabled {
    transition: all ease-in-out 0.3s;
    opacity: 0;
    display: none;
  }

  .leyenda {
    font-family: "Akrobat-ExtraBold";
  }
}
@media all and (min-width: 376px) {
  .caracteristicas li {
    width: 48%;
  }
  .caracteristicas li span {
    width: 75%;
  }
}
@media all and (min-width: 768px) {
  .espacios {
    font-size: 2.1rem;
    border-top: 30px solid #ffffff;
    border-bottom: 30px solid #ffffff;
  }
  .espacios img {
    width: 100%;
  }

  .linkFilter {
    width: 21%;
    margin: 20px 0;
  }
  .linkFilter:nth-child(2) {
    margin-left: 30px;
    margin-right: 30px;
  }

  .proyectos .itemProyect {
    width: 32.3%;
  }
  .proyectos .itemProyect:last-child {
    width: 32.3%;
  }

  .manPhone {
    height: 60vh;
  }

  .dormitorios > div {
    width: 50%;
  }

  .itemDepa {
    width: 30%;
  }
}
@media all and (min-width: 1025px) {
  header {
    display: flex;
  }

  nav {
    width: 80%;
  }
  nav ul li {
    position: relative;
    text-align: inherit;
  }
  nav ul li a {
    padding: 3px 15px;
    border-right: 2px solid rgba(51, 59, 65, 0.5);
    text-align: center;
    display: inline;
    width: 100%;
  }

  .encabezado {
    text-align: left;
  }
  .encabezado h1 {
    padding: 30px 0px 30px 40px;
    text-align: left;
    font-size: 3.2rem;
  }

  .caracteristicas li {
    width: 48%;
  }
  .caracteristicas li span {
    width: 75%;
  }

  .linkFilter {
    margin: 20px 15px;
  }

  .espacios {
    border-top: 40px solid #ffffff;
    border-bottom: 40px solid #ffffff;
  }

  .titleUbicacion {
    font-size: 2.8rem;
  }

  .proyectos {
    margin: 20px 0 5vw;
  }
  .proyectos .itemProyect {
    width: 33%;
  }
  .proyectos .itemProyect:last-child {
    width: 33%;
  }
  .proyectos h2 {
    font-size: 2.7rem;
    margin: 0 0 10px;
  }
  .proyectos p {
    font-size: 1.3rem;
  }

  .manPhone {
    height: 95vh;
  }

  .dormitorios > div {
    width: 33%;
  }

  footer p:first-child {
    width: 40%;
    text-align: left;
  }
  footer p:last-child {
    width: 60%;
    text-align: right;
  }

  .slider {
    margin: 2vw 0;
  }

  .slick-slide {
    height: 10vw;
  }

  .itemDepa {
    width: auto;
  }
  .itemDepa img {
    width: 3vw;
  }
  .itemDepa p {
    width: auto;
    margin-left: 5px;
  }

  .logoFRM {
    position: absolute;
    width: 8vw;
    bottom: 0;
    right: 18vw;
  }

  .leyenda {
    position: absolute;
    left: 0;
    bottom: -3vw;
  }
}
@media all and (max-width: 1024px) {
  footer {
    position: relative;
    z-index: 100;
  }

  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    left: 0;
    right: 0;
    background-color: #24303B;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: block;
  }
  nav ul li {
    width: 33.3%;
  }
  nav ul li a {
    width: 90%;
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
    font-size: 1rem;
    display: block;
    margin: auto;
  }
}
@media all and (min-width: 1600px) {
  html {
    font-size: 80%;
  }
}
.nm__title {
  font-family: "Akrobat-ExtraBold";
  color: #24303B;
  font-size: 2.1rem;
}
.nm__description {
  color: blue;
}

.first-color {
  background: #24303B;
}

.where h1 {
  background: #24303B;
  color: #ffffff;
}

.where h1 {
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 3px;
}
.where-info {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.where-info__content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

/*Button*/
.btn {
  outline: none;
  border-style: solid;
  border-color: #24303B;
  background: #ffffff;
  text-decoration: none;
  color: #24303B;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.btn-blue-dark {
  background: #24303B;
  color: #ffffff;
}
.btn-blue-dark:hover {
  background: #151b22;
  transition: all 0.3s ease;
}
.btn-blue-dark:active {
  background: black;
}

.btn-blue-black {
  background: #1C2B39;
  color: #ffffff;
}
.btn-blue-black:hover {
  background: #0f161e;
  transition: all 0.3s ease;
}
.btn-blue-black:active {
  background: black;
}

.btn-jade {
  background: #00AACC;
  color: #ffffff;
}
.btn-jade:hover {
  background: #0088a3;
  transition: all 0.3s ease;
}
.btn-jade:active {
  background: #00404d;
}

.btn-outline-dark {
  background: #ffffff;
  color: #24303B;
  border-style: solid;
  border-width: 1px;
  border-color: #24303B;
}
.btn-outline-dark:hover {
  background: #24303B;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-dark:active {
  background: #24303B;
  color: white;
}

.btn-outline-black {
  background: #ffffff;
  color: #1C2B39;
  border-style: solid;
  border-width: 2px;
  border-color: #1C2B39;
}
.btn-outline-black:hover {
  background: #1C2B39;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-black:active {
  background: #1C2B39;
  color: white;
}

.btn-outline-jade {
  background: #ffffff;
  color: #00AACC;
  border-style: solid;
  border-width: 2px;
  border-color: #00AACC;
}
.btn-outline-jade:hover {
  background: #00AACC;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-jade:active {
  background: #00AACC;
  color: white;
}

/* hack */
.h_space_100 {
  height: 74em;
  padding: 1em;
}

/*# sourceMappingURL=styles.css.map */
