
/*Paddings*/
 
@for $i from 1 through 30
  /*paddings #{$i} */  
  .pt-#{$i}
    padding-top: $i+px !important
  .pr-#{$i}
    padding-right: $i+px !important
  .pb-#{$i}
    padding-bottom: $i+px !important
  .pl-#{$i}
    padding-left: $i+px !important

/*Margins*/

@for $i from 1 through 30
  /*margins #{$i} */
  .mt-#{$i}
    margin-top: $i+px !important
  .mr-#{$i}
    margin-right: $i+px !important
  .mb-#{$i}
    margin-bottom: $i+px !important
  .ml-#{$i}
    margin-left: $i+px !important
 