@mixin button-bg($bg:#1C2B39,$text-color:#ffffff) 
  background: $bg
  color: $text-color 
  &:hover 
    background: darken($bg, 8%)
    transition: all 0.3s ease  
  &:active 
    background: darken($bg, 25%) 

@mixin button-outline($outline-width:2, $outline-color:#1C2B39) 
  background: #ffffff
  color: $outline-color
  border-style: solid 
  border-width: $outline-width+px
  border-color: $outline-color
  &:hover 
    background: $outline-color
    transition: all 0.3s ease 
    color: white
  &:active 
    background: $outline-color
    color: white 